/.idea
.env
/config/nginx/conf.d/*
!/config/nginx/conf.d/sample.conf
!/config/nginx/conf.d/df.conf
/config/nginx/m2conf.d.d/*
!/config/nginx/m2conf.d/sample.conf
/config/nginx/ssl/*
!/config/nginx/ssl/.gitkeep
/var/data/*
!/var/data/.gitkeep
/var/log/*
!/var/log/.gitkeep
/www/*
!/www/.gitkeep
