/.idea
.env
/config/nginx/ssl/*
!/config/nginx/ssl/.gitkeep
/config/nginx/conf.d/*
!/config/nginx/conf.d/sample.conf
!/config/nginx/conf.d/df.conf
/config/nginx/m2conf.d.d/*
!/config/nginx/m2conf.d/sample.conf
/www/*
!/www/.gitkeep
/var/
